.milestone {
  width: 300px;
  height: 400px;
  color: #ededed;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  position: relative;
}

.milestone img {
  width: 286px;
  height: 170px;
  border-radius: 8px;
  margin: 7px;
}

.milestone-info {
  margin: 0 14px;
}
.milestone-info p {
  margin-bottom: 0;
  margin-top: 5px;
}

.milestone-name {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
}

.btn-add {
  width: 85%;
  margin-left: 22px;
  font-size: 15px;
  font-weight: 600;
  color: #8e05c2;
  background-color: #ededed;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 15px;
}

.btn-add:hover {
  background-color: #8e05c2;
  color: #ededed;
}
