.milestone {
  width: 300px;
  height: 400px;
  color: #EDEDED;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  position: relative;
}

.milestone img {
  width: 286px;
  height: 170px;
  border-radius: 8px;
  margin: 7px;
}

.milestone-info{
  margin: 0 14px;  
}
.milestone-info p{
  margin-bottom: 0;
  margin-top: 5px;
}

.milestone-name {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-top: 7px;
}

.btn-add{
    width: 80%;
    margin-left: 28px;
    background-color: #8E05C2;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
}

.btn-add p{
    font-weight: 600;
    color: #EDEDED;
}

.btn-add:hover{
    background-color: #3E065F;
}