.header {
  height: 80px;
  background-color: #3e065f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
}

.logo {
  color: #ededed;
}
.header a {
  color: #ededed;
  text-decoration: none;
  font-size: 17px;
  margin-right: 36px;
}

.header a:hover {
  color: #da0037;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
    margin: 0;
  }
  .header a {
    margin-left: 20px;
  }
}
